.title {
  font-size: 24px;
  padding-bottom: 20px;
}

.previous {
  border: none;
  background: transparent;
  padding: 0;
}

.absoluteRight {
  position: absolute;
  right: 0;
}

.selectLabel {
  display: inline-block;
}

input + span,
select + span {
  border: none;
  font-weight: 700;
  color: #700;
}

.selectLabel {
  display: flex;
  align-items: baseline;
}

input[type=checkbox] {
  flex: none;
  margin-right: 10px;
  width: unset;
  height: unset;
}

@media (max-width: 768px) {
  input,
  select {
    width: 100%;
    margin-bottom: 10px;
    height: 40px;
  }

  .flexForm {
    display:flex;
    flex-flow: column;
  }

  .selectLabel {
    padding-top: 20px;
  }
}
