.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 30em;
  flex-wrap: wrap-reverse;
  color: #FFFFFF;
}

.body {
  flex: none;
  max-width: 50%;
  min-width: 50%;
}

@media (max-width: 768px) {
  .body {
    /* width: 100%; */
    max-width: 80%;
    padding-top: 40px;
    min-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}
