.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 30em;
  flex-wrap: wrap-reverse;
  color: #FFFFFF;
}

.body {
  flex: none;
  max-width: 50%;
}

@media (max-width: 768px) {
  .body {
    padding-top: 80px;
    max-width: 80%;
  }
}
