.navbar {
  align-items: center;
  background: #F4F2F0;
}

.navbarBrand {
  margin-left: 30px;
}

.homeLink {
  margin: 20px;
  padding-right: 20px;
  border-right: 1px solid #000000;
  color: #000000;
  text-decoration: underline;
}

.profileLink {
  color: #000000;
  text-decoration: underline;
}

.homeLink:hover,
.profileLink:hover {
  color: #000000;
  text-decoration: none;
}

@media (max-width: 768px) {
  .navbar {
    justify-content: center;
  }

  .navbarBrand {
    margin-left: 0px;
  }
}
