.title {
  font-size: 24px;
  padding-bottom: 20px;
}

.previous {
  border: none;
  background: transparent;
  padding: 0;
}

.absoluteRight {
  position: absolute;
  right: 0;
}

input,
select {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
}

input + span,
select + span {
  border: none;
  font-weight: 700;
  color: #700;
}

@media (max-width: 768px) {
  input,
  select {

  }

  .flexForm {
    display:flex;
    flex-flow: column;
  }
}
