.button {
  border: 2px solid #FFDD00;
  border-radius: 30px;
  padding: 14px 53px;
  color: #000000;
  background-color: #FFDD00;
  margin-bottom: 40px;
  margin: 0 auto;
  margin-top: 20px;
  display: inline-block;
}

.button a {
  color: #000000;
}

.button button:hover {
  text-decoration: underline;
}

.button button {
  border: none;
  background: transparent;
}
